@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

:root {
  --lightblue:#25DFE6;
  --gray:#707070;
  --lightergray:#B7B7B7;
  --lightestgray:#F5F5F5;
  --white:#FFFFFF;
  --black:#000000;
  --rootsize: 20px;
  --maxwidth:1000px;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: var(--rootsize);
  margin: 2rem;
}

div.container {
  width: 100%;
  max-width: var(--maxwidth);
  margin: auto;
}

h1 {
  border: 1px solid var(--lightergray);
  padding: 50px;
  color: var(--gray);
  font-weight: 600;
}

.categorybtn {
  font-size: 26px;
  color: var(--gray);
  padding: 25px;
  background-color: var(--lightestgray); 
  border: 1px solid var(--lightergray);
  border-bottom: none;
  transition: ease-in-out .2s;
  margin-right: 1rem;
  cursor: pointer;

    &:hover {
    color: var(--lightblue);
  }
  
  .categorybtn:active {
    background-color: var(--lightblue);
    color: var(--white);
    transition: ease-in-out .2s;
    border: none;
  }
}

.category-content a {
  color: var(--lightblue);
}

main {
  padding: 2rem;
  border: 1px solid var(--lightergray);
  border-top: 8px solid var(--lightblue);
  color: var(--gray);
      p{
        max-width: 80%;
      }
      h2{
        font-weight: 600;
      }
}


.active{
  font-size: 26px;

  cursor: pointer;

  background-color: var(--lightblue);
  color: var(--white);
  transition: ease-in-out .2s;
  border: none; 

      &:hover{
        color: var(--white);
      }
}


.penger{
  padding: 2rem;
  border: 1px solid var(--lightergray);
  border-top: 8px solid var(--lightblue);
  color: var(--gray);

  a{
    color: var(--lightblue);
  }
}


.penger{
  padding: 2rem;
  border: 1px solid var(--lightergray);
  border-top: 8px solid var(--lightblue);
  color: var(--gray);
}
